ul{list-style: none; margin-bottom: 0}
 tbody tr td a{color: black}

 #table-project tr td a{color: white !important;}
#table-project tr.has-importunate td a{color: black !important;}
#table-project tbody tr:hover{background-color: #0000ff1f}
#table-project tr.cancel{background-color: #80808085 !important;}
#table-project tr.success{background-color: red !important; }
#table-project tr.success td a{color: white !important;}
#table-project th.no-sort::before{display: none !important;}
#table-project th.no-sort::after{display: none !important;}
.amount-project-by-type{display: flex; justify-content: end}
.amount-project-by-type > div{display: flex; align-items: center}
.amount-project-by-type .date-picker-month-year{max-width: 100px}
.amount-project-by-type .list-type{display: flex; margin-left: 30px}
.amount-project-by-type .list-type > div{height: 40px; width: 40px; display: flex; align-items: center; justify-content: center; color: white}
.amount-project-by-type .list-type > div:nth-child(n+2){margin-left: 10px}
.button-width{min-width: 100px}
 .group-button-end{width: 100%; display: flex; justify-content: center;}
.group-button-end .btn:nth-child(n+2){margin-left: 10px}
.group-button-end .btn{margin-bottom: 20px}

.list-project-search{position: absolute; z-index: 99; width: 100%; border: 1px solid #ccc; display: none; top: 100%; background-color: white}
.list-project-search ul li{background-color: white; padding: 5px}
.list-project-search ul li:hover{background-color: lightslategray}
.list-project-search ul li:nth-child(n+2){border-top: 1px solid #ccc}
.paginate_button.previous.disabled, .paginate_button.next.disabled{display: none}
.pre-line{white-space: pre-line}
td{vertical-align: middle !important;}
p.info span {
    font-weight: bold
}

.group-add-url .item-url {
    display: flex;
    align-items: center
}

.group-add-url .item-url input {
    max-width: 400px
}

.group-add-url .item-url:last-child button.delete-url {
    display: none
}

.group-add-url .item-url:not(:last-child) button.add-url {
    display: none
}

.item-document {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.list-message{
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
}
.list-message .item-message{padding: 5px 0}
.list-message .item-message:nth-child(n+2){border-top: 1px solid #ccc}
.list-message .message-content{margin-left: 20px}
.list-message .message-content ul{list-style: square}

